/* Desktop */
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
section p{
    font-size: 14px;
}
h1{
    font-size: 20px;
}
h3{
    font-size: 19px;
}
header{
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 100px;
}
header ul{
    list-style-type: none;
    height: 100%;
}
header li{
    display: inline-block;
    height: 100%;
}
header li a{
    display: flex;
    height: 100%;
    align-items: center;
    border-top: 2px solid white;
    font-size: 14px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
}
header li a:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

#look_for{
    /*height: 193px;*/
}
#desktop_button{
    display: block;
}
#mobile_button{
    display: none;
}
#look_for p:nth-child(2){
    margin-top: 7px;
    margin-bottom: 15px;
}
#form_city_search{
    display: flex;
    height: 43px;
}
#form_city_search label{
    line-height: 43px;
    text-align: center;
    background-color: #F2F2F2;
    font-size: 16px;
    width: 43px;
    border-radius: 15px 0 0 15px;
}
#city_search{
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    width: 190px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 900;
    background-color: white;
}
#city_search:focus{
    outline: none;
}
#form_city_search button{
    border-radius: 0 15px 15px 0;
    width: 120px;
    background-color: #0065FC;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
#form_city_search button:hover{
    background-color: #015ce4;
}
#filtre{
    
    margin-top: 25px;
}
#filtre div{
    display: flex;
    align-items: center;
}
#filtre div > button{
    margin-right: 45px;
}
#filtre > h5{
    margin-right: 55px;
}
#filtre h5{
    font-size: 15px;
    margin-right: 40px;
}
#filtre-mobile{
display: none;
}
#filtre-desktop{
    display: block;
}
#filtre div button{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 0 25px 25px 0;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 900;
    border: 1px solid #cacaca;
    background-color: white;
    cursor: pointer;
}
#filtre span{
    line-height: 40px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 100%;
    display: inline-block;
    width: 40px;
    margin-left: -18px;
    margin-right: 12px;
    border-radius: 25px;
    z-index: 2;
    border: 1px solid #DEEBFF;
}
#filtre button:hover{
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
}
#look_for-info{
margin-top: 30px;
margin-bottom: 30px;
display: flex;
align-items: center;
}
#look_for-info span:first-child{
    color: #0065FC;
    text-align: center;
    margin-right: 8px;
}
#look_for-info i{
    height: 18px;
    width: 18px;
    border-radius: 25px;
    border: 1px solid grey;
    line-height: 16px;
    font-size: 12px;
    font-weight: 900;
}
#content{
    display: flex;
}
#hebergements{
    width: 66.5%;
    padding-right:20px ;
}
#hebergements h4{
    margin-top: 10px;
    font-weight: 900;
}
#hebergements h3{
    margin-left: 15px;
}
#hebergements-div{
    padding: 25px;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.card-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-hebergement{
    flex: 0 0 225px ;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px;
}
.card-hebergement:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-div-img-hebergement{
    height: 100px;
    overflow: hidden;
    border-radius: 20px 20px 0% 0%;
}
.card-container img{
    width: 100%;
    height: auto;
    transform: translate(0, -20px);
    object-fit: cover;
}
#amina{
    transform: translate(0, -150px);
}
#hotelmer{
    transform: translate(0, -80px);
}
.card-text{
    padding: 7px;
    padding-top: 0;
}
.card-text{
    color: black;
}
.card-text p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-text span{
    font-weight: 900;
}
.star-blue{
    color:#0065FC;
}
.star-grey{
    color:#acacac;
}
.stars i{
    font-size: 12px;
}
#afficher-plus{
    color: black;
    font-weight: 900;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: block;
}

#populaires{
    width: 33%;
}
#populaire-div{
    padding: 25px;
    border-radius: 20px;
    background-color: #F2F2F2;
}
#pop-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.card-container-populaire{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.card-text-populaire{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-populaire{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 23px;
}
.card-populaire:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-div-img{
    min-width: 160px;
    max-width: 160px;
    height: 130px;
    overflow: hidden;
}
.card-populaire img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}


#activites h3{
    margin-top: 60px;
}
.card-activites{
    flex: 0 0 225px ;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    cursor: pointer;
}
#decalage1 .card-activites:first-child .activites-div-img{
    height: 255px;
}
#decalage1 .card-activites:nth-child(2) .activites-div-img{
    height: 155px;
}
.card-activites:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.activites-column-img{
    margin-left: 30px;
}
.activite-container-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.activites-div-img{
    width: 100%;
    height: 205px;
    max-width: 302px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.activites-div-img img{
    height: 100%;
    width: auto;
    border-radius: 20px 20px 0 0;
    min-height: 230px;
}
.activites-div-img .exeption1{
    min-height: 460px;
    transform: translate(0, -150px);
}
.activites-div-img .exeption2{
    transform: translate(-250px, 0px);
}
.activites-column-img:first-child{
    margin-left: 0px;
}
.activites-column-img:first-child .activites-div-img{
    height: 496px;
    overflow: hidden;
}
.activites-column-img:first-child .activites-div-img img{
    height: 100%;
    width: auto;
}
.activites-column-img:nth-child(3) .activites-div-img{
    height: 496px;
    overflow: hidden;
}
.activites-column-img:nth-child(3) .activites-div-img img{
    height: 100%;
    width: auto;
}
.activites-card-title{
    padding: 20px;
    font-weight: 900;
}

footer{
    background-color: #F2F2F2;
}
#footer{
    display: flex;
    margin-top: 60px;
    padding-bottom: 50px;
}
.div_footer{
    width: 33.3%;
    margin-top: 50px;
}
.div_footer a{
    color:black;
    display: block;
    margin-bottom: 8px;
}
.div_footer h4{
    font-size: 17px;
    margin-bottom: 20px;
}


@media (max-width: 1346px) {
    .activites-column-img{
        margin-left: 15px;
    }
    .activites-div-img{
        max-width: 253px;
    }
    .activites-div-img .exeption2{
        transform: translate(-250px, 0px);
    }
}
/* Tablettes */
@media (max-width: 1154px) {
    .container{
        max-width: 93%;
    }

    p, footer a{
        font-size: 80%;
    }
    h4{
        font-size: 85%;
    }
    h1{
        font-size: 98%;
    }
    h3{
        font-size: 98%;
    }
    button strong{
        font-size: 85%;
    }

    #filtre > button{
        margin-right: 25px;
    }
    #filtre > h5{
        margin-right: 25px;
    }
    #hebergements{
        width: 50%;
        padding-right:20px ;
    }
    #populaires{
        width: 50%;
    }
    .card-hebergement{
        flex: 0 0 275px ;
        position: relative;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 15px;
    }
    

    .activites-column-img:first-child .activites-div-img{
        height: 205px;
        overflow: hidden;
    }
    
    .activites-column-img:first-child .activites-div-img img{
        height: 100%;
        width: auto;
    }
    .activites-column-img:nth-child(3) .activites-div-img{
        height: 205px;
        overflow: hidden;
    }
    .activites-column-img:nth-child(3) .activites-div-img img{
        height: 100%;
        width: auto;
    }
    .tablette{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-activites{
        flex: 0 0 340px ;
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 30px;
        cursor: pointer;
        min-width: 340px;
    }
    .activites-column-img:first-child .card-activites{
        margin-right: 30px;

    }
    .tablette .card-activites:first-child{
        margin-right: 30px;
    }
    .activites-column-img{
        margin-left: 0px;
    }
    .activites-column-img:first-child{
        order:1;
    }
    .activites-column-img:nth-child(3){
        order:2;
    }
    .activites-column-img:nth-child(2){
        order:3;
    }
    .activites-column-img:nth-child(4){
        order:4;
    }
    .activites-div-img{
        width: 100%;
        height: 205px;
        max-width: 340px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .activites-div-img .exeption1{
        min-height: 545px;
        transform: translate(0, -150px);
    }
    .activites-div-img .exeption2{
        transform: translate(0px, 0px);
    }
    .activites-div-img img{
        height: 100%;
        width: auto;
        border-radius: 20px 20px 0 0;
        min-height: 272px;
    }
    #decalage1 .card-activites:first-child .activites-div-img{
        height: 205px;
    }
    #decalage1 .card-activites:nth-child(2) .activites-div-img{
        height: 205px;
    }
    
}

/* Mobiles */
@media (max-width: 767px) {
    .container{
        min-width: 100%;
    }
    #content{
        flex-wrap: wrap;
    }
    
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    header img{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    header ul{
        width: 100%;
        display: flex;
    }
    header ul li{
        width: 50%;
    }
    header li a:active {
        border-bottom: 3px solid #0065FC;
        color:#0065FC;
        border-top: 2px solid white;
    }
    header li a:hover{
        border-bottom: 3px solid #0065FC;
        color:#0065FC;
        border-top: 2px solid white;
    }
    header li a {
        text-align: center;
        border-bottom: 3px solid #cacaca;
        justify-content: center;
        padding-bottom: 4px;
    }
    
    #look_for{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    #look_for > h1{
        font-size: 18px;
        width: 80%;
    } 
    #form_city_search{
        margin-top: 30px;
    }
    #desktop_button{
        display: none;
    }
    #mobile_button{
        display: block;
    }
    #form_city_search button{
        border-radius: 15px;
        width: 45px;
        font-size: smaller;
        margin-left: -15px;
    }
    #flitre h5{
        display: block;
        margin-top:10px;
    }
    #filtre{
        display: block;

    }
    #filtre-mobile{
        display: block;
    }
    #filtre-desktop{
        display: none;
    }
    #filtre div{
        display: flex;
        flex-wrap: wrap;
    }
    #filtre div button{
        margin-left: 18px;
        margin-right: 10px;
    }
    #filtre button{
        margin-top:10px;
    }
    #populaires{
        width: 100%;
        order:1;
    }
    #populaires h3{
        font-size: 20px;
    }
    #populaires h4{
        font-size: 15px;
    }
    #populaires #pop-title i{
        font-size: larger;
    }
    #populaire-div{
        border-radius: 0px;
    }
    .card-div-img{
        min-width: 120px;
        max-width: 120px;
    }
    #hebergements{
        width: 100%;
        order:2;
        padding-right: 0;
        margin-top: 30px;
    }
    #hebergements h3{
        font-size: 20px;
        margin-left: 0px;
    }
    #hebergements-div{
        background-color: white;
    }
    .card-hebergement{
        margin-left: 0px;
        margin-right: 0px;
        flex: 0 0 315px;
    }
    .card-container{
        justify-content: center;
    }
    #afficher-plus{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    #activites{
        padding-top: 20px;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    #activites h3{
        margin-top:10px;
        font-size: 20px;
    }
    .card-activites{
        margin-right: 0px;

    }
    .activites-column-img:first-child .card-activites{
        margin-right: 0px;
    }
    .activites-div-img{
        max-width: 320px;
        max-height: 140px;
    }
    .card-activites{
        min-width: 100%;
        margin-right: 0px;
        flex: 0 0 0;
    }
    .activites-column-img:first-child .activites-div-img{
        height: 140px;
    }
    .tablette .card-activites:first-child{
        margin-right: 0px;
    }
    #decalage1 .card-activites:first-child .activites-div-img{
        height: 140px;
    }
    #decalage1 .card-activites:nth-child(2) .activites-div-img{
        height: 140px;
    }
    .activites-column-img:nth-child(3){
        order:4;
    }
    .activite-container-img{
        justify-content: center;
    }
    .tablette{
        justify-content: center;
    flex-direction: column;
    }
    #footer{
        flex-direction: column;
    }
    
    .div_footer{
        padding-left: 20px;
        width: 200px;
    }
    #footer h4{
        font-size: 15px;
    }
    
}

@media (max-width: 1345px) {
    .container{
        max-width: 93%;
    }
}